<div class="greeting is-flex is-justify-content-space-between is-align-items-center mb-5 is-size-3">
  <h1 class="greeting-txt">Hey @{{username}}! <br>Here are your posts.</h1>
  <button class="button new-post-btn">new post</button>
</div>
<form class="is-centered new-post-form mb-5" style="display: none;" action="/dashboard" method="post">
  <input class="input mb-3" type="text" id="title" name="title" placeholder="Enter title" required>
  <textarea class="textarea mb-3" id="content" name="content" placeholder="Enter content" required></textarea>
  <button class="button post-btn" type="submit">post</button>
</form>
{{#each posts as |post|}}
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>@{{post.creator}}</strong> <small>{{post.date_created}}</small>
          <br>
          <strong>{{post.title}}</strong>
          <br>
          {{post.content}}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item is-flex is-align-items-center" aria-label="reply" href="/post/{{post.id}}">
            <span class="icon is-small">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </span>
            <span class="is-small">
              {{post.commentCount}}
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
{{/each}}
<script src="/js/app.js"></script>