{{#if loggedIn}}
{{#each posts as |post|}}
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>@{{post.creator}}</strong> <small>{{post.date_created}}</small>
          <br>
          <strong>{{post.title}}</strong>
          <br>
          {{post.content}}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item is-flex is-align-items-center" aria-label="reply" href="/post/{{post.id}}">
            <span class="icon is-small">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </span>
            <span class="is-small">
              {{post.commentCount}}
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
{{/each}}
{{else}}

<div class="greeting is-flex is-flex-direction-column is-justify-content-space-between is-align-items-center mb-5 is-size-3">

  <h1 class="greeting-txt">Please <a href="/login">log in</a> to view posts.</h1>



  <script src="/js/app.js"></script>

</div>


{{/if}}






